<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3</title>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/3/index.css">

</head>

<body>
    <!-- 主体 -->
    <div id="main" class="main">
        <!-- 背景 -->
        <img src="img/3/bg.png" alt="背景" class="m_bg">
        <!-- 书 -->
        <img src="img/3/book.png" alt="书" class="m_book">
        <!-- 浪花 左 -->
        <img src="img/3/spray_left.png" alt="浪花" class="m_spray s_left">
        <!-- 浪花 右 -->
        <img src="img/3/spray_right.png" alt="浪花" class="m_spray s_right">
        <!-- 返回按钮 -->
        <img-bg-btn class="m_back" src="img/3/back.png" height=53 name="back" @onclick="back"></img-bg-btn>
        <!-- 螃蟹 -->
        <template v-for="(item,inde) in list">
            <img-bg-btn v-if="item.type" :class="['m_crab', 'c_gold','c_'+item.id]" src="img/3/crab_gold.png" height=125 :name="item" @onclick="back">{{item.id}}</img-bg-btn>
            <img-bg-btn v-else :class="['m_crab', 'c_pink','c_'+item.id]" src="img/3/crab_pink.png" height=72 :name="item" @onclick="back">{{item.id}}</img-bg-btn>
        </template>

    </div>
</body>
<script src="js/babel.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/httpVueLoader.js"></script>
<script>
    var store = new Vue({
        el: ".main",
        components: {
            'img-btn': httpVueLoader('subunit/imgBtn.vue'),
            'img-bg-btn': httpVueLoader('subunit/imgBgBtn.vue'),
        },
        data: {
            list: [
                {
                    id: 1,
                    type: 0
                },
                {
                    id: 2,
                    type: 0
                }, {
                    id: 3,
                    type: 0
                }, {
                    id: 4,
                    type: 0
                }, {
                    id: 5,
                    type: 0
                }, {
                    id: 6,
                    type: 0
                }, {
                    id: 7,
                    type: 0
                }, {
                    id: 8,
                    type: 1
                }, {
                    id: 9,
                    type: 0
                }, {
                    id: 10,
                    type: 0
                }, {
                    id: 11,
                    type: 0
                }, {
                    id: 12,
                    type: 0
                }, {
                    id: 13,
                    type: 0
                }, {
                    id: 14,
                    type: 0
                }, {
                    id: 15,
                    type: 0
                },
            ]
        },
        methods: {
            back(e) {
                console.log('back', e);
            }
        },
    });
    console.log(1222222222)
</script>

</html>